<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>JWT-study</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <h1>JWT-study</h1>
        <p>
            Поздравляю, вы вошли внутрь, а значит пол дела сделано,<br>
            Осталось проверить работоспособность вашего токена!<br>
            Как? Если вы всё сделали правильно, то, нажав на кнопку ниже, вы должны получить доступ к новой страничке.<br>
        <button onclick="protected(); return false;">Protected</button>
        </p>
    </body>
</html>