<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>JWT-study</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <h1>JWT-study</h1>
        <form onsubmit="login(); return false;">
            <fieldset>
                <legend>Log in:</legend>
                <label id="loginError"></label>
                <label for="username">Username:</label>
                <input id="username" placeholder="login" type="text" required>
                <label for="password">Password:</label>
                <input id="password" placeholder="password" type="password" required>
            </fieldset>
            <button type="submit">Log in</button>
        </form>
    </body>
</html>

