<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>JWT-study</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <h1>JWT-study</h1>
        <p>
            Поздравляю!<br>
            Если вы попали сюда, значит вы молодец-огурец, настоящий умничка :D <br>
            Теперь усложните работу, добавив пункт, что сюда можно попасть только имея определенную роль!
            Хороших вам голодных игр 
        </p>
        <div class="image-containeer">
            <img src="https://i.ytimg.com/vi/aXZU7yN5YZA/maxresdefault.jpg">
        </div>
    </body>
</html>